<ion-header>
  <ion-toolbar>
    <!--<ion-title>farmer</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card-header collapse="condense" color="success">
      <ion-card-title size="large"><b>Farmer's Details</b></ion-card-title>
    </ion-card-header>
    <br>
    <ion-card>
      <img src="assets/image/farmer1.jpg"/>
      <ion-card-header>
        <ion-card-title color="white"></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item >
          Name:  Surender Gujjar
        </ion-item>
        <ion-item >
          Farmer category: Vegetable
        </ion-item>
      <ion-item >
        Phone No.: 9894682973
        </ion-item>            
      </ion-list>
      <ion-button shape="round"color="success"type="button"size="medium"expand="block">Details</ion-button>
    </ion-card-content>
      </ion-card>
  </div>
</ion-content>

