<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     IONIC 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <ion-segment [(ngModel)]="mysegment">
      <ion-segment-button value=1>Registration</ion-segment-button>
      <ion-segment-button value=2>login</ion-segment-button>
      <ion-segment-button value=3>Forgot Password</ion-segment-button>
      </ion-segment>
       -->
      <br/>
      

    <ion-card *ngIf="mysegment==1">
      <ion-card-header>


    <ion-card-title *ngIf="caseno==1"><ion-icon name="person-add-outline" color="success"size="large"></ion-icon>Register Files </ion-card-title>
  
    <ion-card-title *ngIf="caseno==2"><ion-icon name="checkmark-circle-outline"color="success"size="large"></ion-icon>Verify</ion-card-title>

  </ion-card-header>
  <ion-card-content *ngIf="caseno==1">
    <form [formGroup]="userdata" (submit)="getdata1(userdata.value)">


    <ion-list >
      <BR>
      <ion-item>
        <ion-input type="text"[clearInput]="true"placeholder="Full Name" formControlName="fn">  
        <div *ngIf="userdata.controls['fn'].invalid && (userdata.controls['fn'].dirty || userdata.controls['fn'].touched)" class="alert alert-danger">
          <div *ngIf="userdata.controls['fn'].errors.required">
          Fullname  is required.
        </div>
       </div>
      </ion-input>
      <ion-icon name="person-circle"slot="end"color="success"></ion-icon>
      </ion-item>
      <ion-item>
   <ion-input type="tel"[clearInput]="true"placeholder="Mobile Number" formControlName="mn">
    <div *ngIf="userdata.controls['mn'].invalid && (userdata.controls['mn'].dirty || userdata.controls['mn'].touched)" class="alert alert-danger">
      <div *ngIf="userdata.controls['mn'].errors.required">
      Mobile No.  is required.
    </div>
    <div *ngIf="userdata.controls['mn'].errors.minlength">
    Mobile no. must contain 10 characters..
    </div>
    </div>  
  </ion-input><ion-icon name="call"slot="end"color="success"></ion-icon>
  </ion-item>
   <ion-item>
   <ion-input type="text"[clearInput]="true"placeholder="Username" formControlName="uname">
    <div *ngIf="userdata.controls['uname'].invalid && (userdata.controls['uname'].dirty || userdata.controls['uname'].touched)" class="alert alert-danger">
      <div *ngIf="userdata.controls['uname'].errors.required">
      Username  is required.
    </div>  
    </div>
  </ion-input><ion-icon name="person"slot="end"color="success"></ion-icon>
   </ion-item>
   <ion-item>
    <ion-input type="password"[clearInput]="true"placeholder="Password" formControlName="pwrd">
      <div *ngIf="userdata.controls['pwrd'].invalid && (userdata.controls['pwrd'].dirty || userdata.controls['pwrd'].touched)" class="alert alert-danger">
        <div *ngIf="userdata.controls['pwrd'].errors.required">
        Password  is required.
      </div>
      <div *ngIf="userdata.controls['pwrd'].errors.minlength">
        Password  must contain atleast 8 characters.
      </div>
</div>
    </ion-input><ion-icon name="key"slot="end"color="success"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="shield-checkmark"slot="end"color="success"></ion-icon>
      <ion-input type="password"[clearInput]="true"placeholder="Confirm Password" formControlName="conpwd">
      <div *ngIf="userdata.controls['conpwd'].invalid && (userdata.controls['conpwd'].dirty || userdata.controls['conpwd'].touched)" class="alert alert-danger">
        <div *ngIf="userdata.controls['conpwd'].errors.required">
      Field required.
      </div>
      <div *ngIf="userdata.controls['conpwd'].errors.minlength">
        Inavlid password
      </div>
</div>
</ion-input>

</ion-item>
<br>
<ion-item>
    <ion-input type='file' id='photo' name='photograph'></ion-input>
    <ion-icon name="images" color="success"></ion-icon>
</ion-item>
<ion-grid>
<ion-row><br>
<ion-col>

<ion-button shape="round"type="button"color="success"size="medium"expand="block" type="submit">Register</ion-button>
<ion-button shape="round" type="Reset" color="success"size="medium"expand="block">reset</ion-button>
  </ion-col>
</ion-row>   
</ion-grid>  
  </ion-list>



</form>
  </ion-card-content>

  <ion-card-content *ngIf="caseno==2">
    <br>
    <form [formGroup]="userdata" (submit)="getdata2(userdata.value)">
 <h4> Enter OTP Sent to your mobile number</h4>***458<br>
 <ion-input type="password"placeholder="Enter 4 Digit OTP" maxlength="6" formControlName="otp">
  <div *ngIf="userdata.controls['otp'].invalid && (userdata.controls['otp'].dirty || userdata.controls['otp'].touched)" class="alert alert-danger">
    <div *ngIf="userdata.controls['otp'].errors.required">
  OTP is required.
  </div>
  <div *ngIf="userdata.controls['otp'].errors.minlength">
    OTP contain 4 characters..
    </div>
  </div>
 </ion-input> <br>
 <ion-button shape="round" type="submit"color="success"size="medium"expand="block"  > VERIFY</ion-button> <br>
 <a href="#">Resend OTP</a>
 <br>
</form>
</ion-card-content>

  </ion-card>


<form [formGroup]="formdata"  (submit)="getdata(formdata.value)">
    <ion-card id="i" *ngIf="mysegment==2">
      <ion-label text-align="center"><ion-icon name="log-in-outline"color="success"size="large"></ion-icon>Login</ion-label>
      <ion-card-content >
       
       
        <ion-list >
        <ion-item>
          <ion-icon name="person-circle-outline" slot="start" ></ion-icon>
          <ion-label position="floating">Phone No</ion-label>
          <ion-input type="text" placeholder="Username/PhoneNo." formControlName="PhoneNo" ></ion-input>
          <div *ngIf="formdata.controls['PhoneNo'].invalid && (formdata.controls['PhoneNo'].dirty || formdata.controls['PhoneNo'].touched)" class="alert alert-danger">
            <div *ngIf="formdata.controls['PhoneNo'].errors.required">
              PhoneNo  is required.
          </div>
          <div *ngIf="formdata.controls['PhoneNo'].errors.PhoneNo">
            Invalid PhoneNo
          </div>
          
        </div>
        
        </ion-item>
    
    
       <ion-item>
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" placeholder="Password" formControlName="pwd" ></ion-input>
        <div *ngIf="formdata.controls['pwd'].invalid && (formdata.controls['pwd'].dirty || formdata.controls['pwd'].touched)" class="alert alert-danger">
          <div *ngIf="formdata.controls['pwd'].errors.required">
          Password  is required.
        </div>
        <div *ngIf="formdata.controls['pwd'].errors.minlength">
          password is of atleast 8 characters...
        </div>
      </div>
     </ion-item>    
     
    

    
    <ion-item>
      <ion-button color="success" shape="round" (click)="add()"> <ion-icon name="log-in-outline"></ion-icon>
      Login</ion-button>
      <ion-button color="dark" shape="round" type="submit"> <ion-icon name="help-circle-outline" ></ion-icon>
        Forgot Password</ion-button>
    </ion-item>
    
    
      </ion-list>  
        
  
    </ion-card-content>
  </ion-card>
</form>

  <div *ngIf="mysegment==3">
    <ion-card *ngIf="caseno==1 || caseno==2">
   <ion-card-header  text-align="center">
   <ion-icon name="alert-circle"  color="light" size="large"></ion-icon>
  <ion-card-title color="success"> Forgot Password </ion-card-title>    
  </ion-card-header>
  <br>
   <ion-card-content>
    <form [formGroup]="fordata" (submit)="getdata3(fordata.value)">
    <ion-list>
  <ion-item fill="outline" >
  <ion-icon name="mail" slot="start" color="success"></ion-icon>
  <ion-label position="floating">Enter Phone Number</ion-label>
  <ion-input type="text" [clearInput]="true" placeholder=" Phone number"formControlName="emailid">   
    <div *ngIf="fordata.controls['emailid'].invalid && (fordata.controls['emailid'].dirty || fordata.controls['emailid'].touched)" class="alert alert-danger">
      <div *ngIf="fordata.controls['emailid'].errors.required">
      PhoneNo  is required.
    </div>
    <div *ngIf="fordata.controls['emailid'].errors.email">
      Invalid PhoneNo Id.
    </div>
    </div>
    
  </ion-input>
   </ion-item><br>
  <ion-button expand="block" shape="round" color="success" size="3" type="submit">Next</ion-button>                           
  </ion-list>
</form>
  </ion-card-content>
  </ion-card>
  
     
  <ion-card *ngIf="caseno==3">
  <ion-card-header >
   <ion-icon name="alert-circle" size="large"></ion-icon>
   <ion-card-title > Account Recovery </ion-card-title>
               
  </ion-card-header><br>
  <ion-card-content>
    <form [formGroup]="fordata" (submit)="getdata4(fordata.value)">

   <ion-list >
    <ion-text ><h2>An PhoneNo with verification code has been sent to *PhoneNo</h2></ion-text>            
  <ion-item fill="outline" >
  <ion-icon name="mail" slot="start" color="success"></ion-icon>
  <ion-label position="floating">Enter Your Code</ion-label>
  <ion-input type="number" [clearInput]="true"  placeholder="Enter your code"  formControlName="c">
    <div *ngIf="fordata.controls['c'].invalid && (fordata.controls['c'].dirty || fordata.controls['c'].touched)" class="alert alert-danger">
      <div *ngIf="fordata.controls['c'].errors.required">
      this field  is required.
    </div>
    <div *ngIf="fordata.controls['c'].errors.minlength">
      invalid code...
    </div>
    </div>
    
  </ion-input>
  </ion-item><br/>           
  <ion-button expand="block" shape="round" color="success" size="3"   type="submit">submit</ion-button>
  </ion-list>
  </form>
  </ion-card-content>
  </ion-card>  
   <ion-card *ngIf="caseno==4">
    <ion-card-header >
   <ion-icon name="people-circle" size="large"  color="success">
  </ion-icon>
  <ion-card-title color="success" >Reset Password</ion-card-title>
   <ion-card-subtitle></ion-card-subtitle>
   </ion-card-header>
    <ion-card-content>
      <form [formGroup]="fordata" (submit)="getdata5(fordata.value)">

      <br>
   <ion-list>
  <ion-item fill="outline" >
   <ion-icon name="key" slot="start" color="success"></ion-icon>
   <ion-label position="floating">Enter New Password</ion-label>
   <ion-input type="password"[clearInput]="true" placeholder="Enter New Password" formControlName="newpwd">

    <div *ngIf="fordata.controls['newpwd'].invalid && (fordata.controls['newpwd'].dirty || fordata.controls['newpwd'].touched)" class="alert alert-danger">
      <div *ngIf="fordata.controls['newpwd'].errors.required">
      Password  is required.
    </div>
    <div *ngIf="fordata.controls['newpwd'].errors.minlength">
      Password must contain atleast 8 characters...
    </div>
    </div>
    
   </ion-input>
    </ion-item><hr/>
    <ion-item fill="outline" >
    <ion-icon name="key" slot="start" color="success"></ion-icon>
    <ion-label position="floating">Re-enter New Password</ion-label>
  <ion-input type="password" [clearInput]="true"placeholder="Re-enter New Password"formControlName="repwd">
    <div *ngIf="fordata.controls['repwd'].invalid && (fordata.controls['repwd'].dirty || fordata.controls['repwd'].touched)" class="alert alert-danger">
      <div *ngIf="fordata.controls['repwd'].errors.required">
      Password  is required.
    </div>
    <div *ngIf="fordata.controls['repwd'].errors.minlength">
      Invalid password.
    </div>
    </div>
    
  </ion-input>
  </ion-item>
     <hr>
     <br>
     <ion-button expand="block" shape="round" color="success" type="success" size="medium" type="submit" >Save Changes</ion-button>       
    </ion-list>
      </form>
    </ion-card-content>        
    </ion-card>   
  </div>


 
    


</div>
<!--
<div *ngIf="num==1; else caseb">if case</div>
<ng-template #caseb>else case</ng-template>
<div *ngif="num==1">case1</div>
<div *ngif="num==2">case2</div>
<div *ngif="num==3">case3</div>
<div [ngSwitch]="num">
  <ion-input type="text" [(ngModel)]="num"></ion-input>
  <div *ngSwitchCase="num==1">case1</div>
  <div *ngSwitchCase="num==2">case2</div>
  <div *ngSwitchCase="num==3">case3</div>
  <div *ngSwitchDefault>Default</div>
  

</div>-->
