<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header><br>
       <p><b>LOGIN AS</b></p>
  <br>
  <br>
  <br>
  <ion-button color="success"  shape="round"type="Farmer"(click)="farm()">Farmer</ion-button>
  <ion-button color="success"  shape="round"type="Customer" (click)="user()">Customer</ion-button>
</ion-card-header>
