<ion-header>
  <ion-toolbar>
    <ion-title>view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row style="background-color:lightgrey; color:green">
            <ion-col size="1"><b>
              <ion-icon name="arrow-back-outline"></ion-icon></b>
            </ion-col>
            <ion-col style="text-align:center"><h4><b>
Know Your Farmer</b></h4>
          </ion-col></ion-row>
      <ion-row>
        <ion-col >
        </ion-col>
        <ion-col >
<img src="assets/icon/onion.jpg"/>
        </ion-col>
                  <ion-col >
                            </ion-col>
      </ion-row>
    <ion-row style="background-color:green; color:white;text-align:center">
      <ion-col>
Organic Farmers who produced this product
</ion-col>
    </ion-row>
      <ion-row>
        <ion-col><u>
          Farmer Name
        </u></ion-col>
        <ion-col><u>
          Farm Name
        </u></ion-col>
        <ion-col><u>
          Item Photo
        </u></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
Hemant Kumar        </ion-col>
        <ion-col>
My Farm        </ion-col>
        <ion-col>
          <img src="assets/icon/onion.jpg"/>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
Shyam Kumar        </ion-col>
        <ion-col>
shyam farm        </ion-col>
        <ion-col>
          <img src="assets/icon/onion.jpg"/>

        </ion-col>
      </ion-row>
      <ion-row style="background-color:green; color:white;text-align:center">
        <ion-col>
  Add to cart
  </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
    </div>
</ion-content>
