<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->


  <!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-button slot="start" >
        <ion-menu-button menuId="main-menu"></ion-menu-button>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-slides   [options]="option" class="ion-margin-top"> 
            <ion-card>
          <ion-slide>  
            <img src="assets/icon/fruits.jpg"/>  
          </ion-slide>
        </ion-card> 
        <ion-card>
          <ion-slide>  
            <img src="assets/icon/frb.png"/>  
          </ion-slide>
        </ion-card> 
        <ion-card>
          <ion-slide>  
            <img src="assets/icon/vb.jpg"/>  
          </ion-slide>
        </ion-card> 
        <ion-card>
          <ion-slide>  
            <img src="assets/icon/mill.jpg"/>  
          </ion-slide>
        </ion-card> 
        </ion-slides> -->
   <!-- <ion-row>
    <ion-col size="4" style="padding-top:10px">
        <img src="assets/icon/frb.png"/>
        Fruits
      </ion-col>
      <ion-col size="4" style="padding-top:15px">
        <img src="assets/icon/vb.jpg"/>
        Vegetables
      </ion-col>
      <ion-col size="4"  style="padding-top:25px">
        <img src="assets/icon/mill.jpg"/>
        Millets
      </ion-col>
      </ion-row> -->
      <!-- <ion-row>
        <ion-col style="text-align:justify" >
          Organic farming can be defined as an agricultural process that uses biological fertilisers and pest control acquired from animal or plant waste. Organic farming was actually initiated as an answer to the environmental sufferings caused by the use of chemical pesticides and synthetic fertilisers.
          </ion-col>
            <ion-row>
              <ion-col size="4">
            <ion-button shape="round"type="button"color="success"type="submit">Small Box</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round"type="button"color="success"type="submit">Large Box</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round"type="button"color="success"type="submit">Custom Box</ion-button>
          </ion-col>
          </ion-row>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
    </div>
</ion-content> -->





<!-- <ion-content fullscreen>

  <div >
    <ion-button  fill="clear" color="dark">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>

  <div >

    <ion-list>
      <ion-item  >
        <ion-grid>
          <ion-row>
            <ion-col size="2" >
              <ion-button  fill="clear"  color="success">
                <ion-icon name="remove-circle" slot="icon-only" ></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="2">
            $500
            </ion-col>

            <ion-col size="2" >
              <ion-button  fill="clear" >
                <ion-icon name="add-circle" slot="icon-only" color="success"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="2" offset="4">
              <ion-button  fill="clear" >
                <ion-icon name="close-circle" slot="icon-only" color="success"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9">
              <b>Phone</b>
            </ion-col>
            <ion-col size="3">
             $200
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              Total:
            </ion-col>
            <ion-col size="3">
              $1000
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-button expand="full" color="success">
     Confirm
    </ion-button>
  </div>

</ion-content> -->






<!-- <ion-header >
 
    <ion-title> Cart  </ion-title>
    <ion-buttons >
      <button >
       
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  
</ion-header>
<ion-content>
  <ion-card >
    <ion-item>
      <ion-avatar >
        <img  src="assets/icon/mill.jpg"/>
      </ion-avatar>
      <h2>Millets</h2>
      
    </ion-item>
    <img   src="assets/icon/mill.jpg" />
    <ion-card-content>
      <p>
        Millet is a good source of protein, fiber, key vitamins, and minerals. The potential health benefits of millet include protecting cardiovascular health, preventing the onset of diabetes, helping people achieve and maintain a healthy weight, and managing inflammation in the gut.
      </p>
    </ion-card-content>
    <div >
    
      <ion-button color="primary" slot="start" >
        <ion-icon name="add"></ion-icon>
        Add to Cart
      </ion-button>
    
      <ion-button color="primary" slot="end" color="success">
       Buy Now
      </ion-button>
    </div>
  </ion-card>
</ion-content> -->

  






<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/icon/frb.png" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span> </span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding" style="background-color:lightgreen">
    <ion-item lines="none" >
      <ion-input placeholder="Search Your Product"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="title ion-padding" style="background-color:yellow">
    <ion-row style="color:rgb(250, 173, 57)"><ion-col size="5"><ion-card><h1 style="color:green"><u>Categories</u></h1></ion-card></ion-col></ion-row>
  </div>

  <div class="category-slider ion-padding-start" style="background-color:yellow">
    <ion-slides [options]="{ slidesPerView: '1.5', centeredSlides:true, loop:true, spaceBetween:10, autoplay:true}">
      <ion-slide >
        <ion-card>
          <h4>Vegetables</h4>
          <img src="assets/icon/vb.jpg" (click)="additem()"/>
        </ion-card>
      </ion-slide>
      <ion-slide >
        <ion-card>
          <h4>Fruits</h4>
          <img src="assets/icon/fruits.jpg" (click)="additem()"/>
        </ion-card>
      </ion-slide>
      <ion-slide >
        <ion-card>
          <h4>Millets</h4>
          <img src="assets/icon/mill.jpg" (click)="additem()"/>
        </ion-card>
      </ion-slide>
      <ion-slide >
        <ion-card>
          <h4>Flowers</h4>
          <img src="assets/icon/flow.jpg" (click)="additem()"/>
        </ion-card>
      </ion-slide>
      <ion-slide >
        <ion-card>
          <h4>Seeds</h4>
          <img src="assets/icon/seed.jpg" (click)="additem()"/>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>